@charset "UTF-8";
body{
    background-color: black;
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
}
canvas{
    background-color: black;
    border:2px solid white;
}